name: Deploy PROD

on:
  push:
    branches:
      - main

jobs:
  deploy-prod:
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build with Maven
        run: mvn -B clean package -DskipTests

      - name: Build Docker image
        run: |
          docker build -t dearsoft/djyoo-be:prod .

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            docker stop ${{ secrets.CONTAINER_NAME }} || true
            docker rm ${{ secrets.CONTAINER_NAME }} || true

            docker run -d \
              --name ${{ secrets.CONTAINER_NAME }} \
              -p ${{ secrets.PORT }}:8080 \
              -e SPRING_PROFILES_ACTIVE=${{ secrets.ENV }} \
              dearsoft/djyoo-be:prod
